doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    block styles
    link(rel="stylesheet", href="/css/main.css")
  body
    header(class="site-header")
      div(class="container")
        a(href="/", class="logo") Artisan
          span .
        nav(class="main-nav")
          a(href="/", class="active") Home
          a(href="/shop") Shop
          a(href="/admin/add-product") Add Product
          a(href="register.html") Register
          a(href="admin-login.html") Admin
        div(class="nav-icons")
          a(href="#", title="Search")
            i(class="fa-solid fa-magnifying-glass")
          a(href="#", title="Cart", class="cart-link")
            i(class="fa-solid fa-cart-shopping")
            span(class="cart-badge") 3

    block content
    