<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>

    <form action="/admin/products" method="POST">
      <input type="text" name="title" /><br /><button type="submit">
        Submit
      </button>
    </form>

<%- include('includes/end.ejs') %>